*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f9fcfe;
}

.search {
	margin: 20px 0;
}

.search-textfield {
	width: 100%;
	padding: 7px 10px;
}

.book {
	margin-bottom: 25px;
	display: inline-block;
	vertical-align: top;
	min-height: 1px;
	margin-right: -.25em;
	width: 50%;
}

.book-thumb,
.book-content {
	display: inline-block;
	vertical-align: top;
	margin-right: -.25em;
}

.book-thumb {
	width: 128px;
	position: relative;
	-webkit-transform: perspective(100px) rotateY(-3deg);
}

.book-thumb::before,
.book-thumb::after {
	content: "";
	position: absolute;
	top: 2%;
	height: 96%;
	z-index: -1;
}

.book-thumb::before {
	background-color: #5a2d18;
	width: 100%;
	left: 7.5%;
	box-shadow: 5px 5px 20px #333;
}

.book-thumb::after {
	background-color: #e5e5e5;
	width: 5%;
	left: 100%;
	box-shadow: inset 0 0 5px #aaa;
	-webkit-transform: perspective(100px) rotateY(20deg);
}

.book-author {
	margin-bottom: 10px;
}

.book-content {
	overflow: hidden;
	padding-left: 30px;
	width: calc(100% - 128px);
}

.book-title {
	margin: 0 0 10px;
	line-height: 1.1;
}

.pagination {
	text-align: center;
}

.pagination li {
	display: inline-block;
	margin: 0 2px;
}

.pagination li.active a {
	background: #1bbbef;
	color: #fff;
}

.pagination li.disabled a {
	border-color: #ccc;
	color: #ccc;
	cursor: default;
	pointer-events: none;
}

.pagination a {
	border: 1px solid #1bbbef;
	border-radius: 2px;
	color: #1bbbef;
	display: block;
	padding: 6px 12px;
	text-align: center;
	white-space: nowrap;
	position: relative;
	text-decoration: none;
	transition: all .1s linear;
}
